<html>
	<head>
		<link rel="stylesheet" href="css/custom.css"/>
		<link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="javascripts/timer.js"></script>
		<script type="text/javascript" src="javascripts/materialize.min.js"></script>
	</head>

	<nav>
    <div class="nav-wrapper blue-grey darken-3">
    	<div class="container">
    	<ul class="left">
        <li><a href="#">Tick Tick Boom</a></li>
      	<li><h5>Wrong Deactivation Attempts: <%= session[:bomb].wrong_codes %></h5></li>
      </ul>
      <ul class="right">
        <li><a href="/bomb"><i class="mdi-navigation-refresh"></i></a></li>
      </ul>
      </div>
    </div>
  </nav>
  </br>

  <% if session[:bomb].exploded %>
    <body>
    	<h1 align="center"> BOOM </h1>
    </body>
  <% else %>
	<body>
		<div class="container">

			<div class="card red accent-2">
          <img src="images/bomb.png"></img>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Bomb is <%= session[:bomb].active ? "Active!" : "Inactive" %><i class="mdi-navigation-more-vert right"></i></span>
        </div>
        <div class="card-reveal blue-grey lighten-5">

          <span class="card-title grey-text text-darken-4">Bomb is <%= session[:bomb].active ? "Active!" : "Inactive" %><i class="mdi-navigation-close right"></i></span></br>
          <% if !session[:bomb].active %>
          	<div class="row">
					  <% if session[:bomb].active_code == "1234" %>
						  	<div class="card-panel blue lighten-4 z-depth-5 col l3 offset-l2">
						  	<h6>Set Activation Code</h6>
					      <form action="/bomb_active_code" method="post">
					        <div class="input-field" type="text" name="active_code">
					      	  <input type="number" name="active_code">
					        </div>
					        <input type="submit" value="Set Active Code">
					      </form>
					      </div>
					  <% end %>
					  
					  <% if session[:bomb].deactive_code == "0000" %>
					    <div class="card-panel blue lighten-4 z-depth-5 col l3 offset-l2">
					    <h6>Set Deactivation Code</h6>
					    <form action="/bomb_deactive_code" method="post">
					      <input type="number" name="deactive_code">
					      <input type="submit" value="Set Deactive Code">
					    </form>
					    </div> 
					  </div> 
					  <% end %>
					  <div class="row">
					  	<div class="card-panel red darken-2 z-depth-5 col l3 offset-l5">
							  <h6 align="center">Activation</h6>
							  <form action="/bomb_activate" method="post">
							    <input type="number" name="activation_code">
							    <input type="submit" value="Activate">
							  </form>
							</div>
					  </div>
					<% else %>
						<div class="row">
						<div class="col l2 offset-l1">
							<div class="countdown_message">20 seconds</div>
							<a id="activate" class="btn-floating btn-large waves-effect waves-light red"><i class="mdi-content-add"></i></a></br>
						</div>

						<div class="card-panel red darken-2 col l3 ofsset-l1">
					  	<h6>Deactivate</h6>
						  <form action="/bomb_deactivate" method="post">
						    <input type="number" name="deactivation">
						    <input type="submit" value="Deactivate">
						  </form>
						</div>
					  </div>
					<% end %>
        </div>
      </div>
	
		</div>
	</body>
	<% end %>
</html>

